* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: var(--scroll-padding, 100px);
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

body {
    background-color: white;
    font-family: 'Inter', sans-serif;
    --header-load-time: 0.3s;
    --header__content-load-time: 0.7s;
    --heading-load-delay: calc(var(--header-load-time) + var(--header__content-load-time));
    --content-load-delay: calc(var(--heading-load-delay) + 0.2s);
    --card-content-load-delay: calc(var(--content-load-delay) + 0.2s);
    --icon-width: 1.5rem;
    --header-background: #333;
    --card-background: white;
    --card-text-color: black;
    --glow: 0 0 0.625rem #ffd400;
}

body.dark {
    --header-background: #696969;
    --card-background: #696969;;
    --card-text-color: white;
    background-color: #202020;
    color: white;
    --glow: 0;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h2, h3 {
    margin-block: 1em;
    animation: section-load 0.3s ease-in var(--heading-load-delay);
    animation-fill-mode: forwards;
    transform: translateY(-20px);
    opacity: 0;
}

p {
    margin-block: 1em;
    animation: section-load 0.3s ease-in var(--content-load-delay);
    animation-fill-mode: forwards;
    transform: translateY(-20px);
    opacity: 0;
}

/* header */

.header {
    background-color: var(--header-background);
    color: white;
    animation: header-load var(--header-load-time) ease-in;
    position: sticky;
    top: 0;
    z-index: 10;
}

.header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 75rem;
    min-height: 4rem;
    margin-inline: auto;
    padding: 0.625rem 1.5rem;
    padding-left: calc(var(--icon-width) + 2rem);
    position: relative;
}

.logo {
    font-size: 2rem;
    animation: logo-load var(--header__content-load-time) ease-out var(--header-load-time);
    transform: translateX(-1000%);
    animation-fill-mode: forwards;
}

.nav__list {
    display: flex;
    column-gap: 2.5rem;
    animation: nav__list-load var(--header__content-load-time) ease-out var(--header-load-time);
    animation-fill-mode: forwards;
    scale: 0;
}

.nav__link {
    position: relative;
}

.nav__link::after {
    content: '';
    height: 2px;
    width: 100%;
    background-color: white;
    display: block;
    position: absolute;
    left: 0;
    bottom: -0.25rem;
    transition: all 0.3s;
    opacity: 0;
    pointer-events: none;
}

.nav__link:hover::after, .nav__link:focus-visible::after {
    opacity: 1;
}

.nav__link:focus-visible {
    outline: none;
}

.theme-toggle {
    position: absolute;
    top: 0.625rem;
    left: 0.625rem;
    width: var(--icon-width);
    z-index: 10;
    cursor: pointer;
    filter: drop-shadow(var(--glow));
    animation: theme-toggle-load 1s ease-out var(--content-load-delay);
    transform: translateY(-200%);
    animation-fill-mode: forwards;
}

/* main */

.main {
    padding: 1.875rem;
    padding-top: 0;
}

.content-grid {
    display: grid;
    grid-template-columns: [breakout-start] 20% [content-start] 1fr [content-end] 20% [breakout-end];
}

.content-grid > * {
    grid-column: content;
}

.content-grid > .breakout {
    grid-column: breakout;
}

.card {
    background-color: var(--card-background);
    color: var(--card-text-color);
    padding: 0.25rem 1rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    border-radius: 0.25rem;
    animation: section-load 0.3s ease-in var(--content-load-delay);
    animation-fill-mode: forwards;
    transform: translateY(-20px);
    opacity: 0;
}

.card * {
    animation-delay: var(--card-content-load-delay);
}

.card__header > h3 {
    text-align: center;
}

.card:hover > .card__body img {
    scale: 1.025;
}

.card__body {
    overflow: hidden;
}

.card__body img {
    aspect-ratio: 16 / 9;
    width: 100%;
    object-fit: cover;
    object-position: top;
    margin-block: 0.5rem;
    transition: 0.3s scale ease-in-out;
    animation: section-load 0.3s ease-in var(--card-content-load-delay);
    animation-fill-mode: forwards;
    transform: translateY(-20px);
    opacity: 0;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(31.25rem, 1fr));
    gap: 1rem;
    align-items: flex-start;
}

.link {
    color: rgb(21, 56, 255);
}

.link:hover {
    text-decoration: underline;
}

@keyframes header-load {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes nav__list-load {
    0% {
        scale: 0;
    }

    80% {
        scale: 1.2;
    }

    100% {
        scale: 1;
    }
}

@keyframes logo-load {
    0% {
        transform: translateX(-1000%);
    }

    80% {
        transform: translateX(50%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes theme-toggle-load {
    0% {
        transform: translateY(-200%);
    }

    100% {
        transform: translateY(0);
        -webkit-transform: translateZ(0);
    }
}

@keyframes section-load {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@media (max-width: 40.625em) {
    .header__content {
        flex-direction: column;
        row-gap: 0.5rem;
        padding-inline: 0;
    }

    .content-grid {
        grid-template-columns: [breakout-start] 0 [content-start] 1fr [content-end] 0 [breakout-end];
    }
}

@media (max-width: 36.25em) {
    .card-grid {
        grid-template-columns: 1fr;
    }
}